@import '../common';

.board-list-page {
  margin: 2em;

  &__back-link {
    @include link-button($secondary-color);
    position: sticky;
    top: 1em;
  }

  &__new-board-link {
    @include link-button($green);
    position: sticky;
    top: 1em;
    left : 9em;
  }

  &__board-list {
    margin: -3em auto;
    width: 40%;
  }
}