.board-list-page {
  margin: 2em;

  &__back-link {
    position: sticky;
    top: 1em;
  }

  &__new-board-link {
    position: sticky;
    top: 1em;
    left : 9em;
  }

  &__board-list {
    margin: -3em auto;
    width: 40%;
  }
}