@import '../common';

.board-list-page {
  margin: 2em;

  &__controls {
    float: left;
  }

  &__back-link {
    @include button($secondary-color);
    margin-right: 1em;
  }

  &__new-board-link {
    @include button($secondary-color);
    font-size: 1em;
  }

  &__title {
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
    font-family: $default-font;
    font-weight: normal;
  }

  &__board-list {
    margin: auto;
    width: 60%;
  }
}