@import '../common';

.home-page {
  margin: 15% auto;
  padding: 1em;

  width: 50%;
  height: 100%;
  min-width: max-content;

  font-family: $default-font;
  text-align: center;

  &__title {
    font-weight: lighter;
    margin-bottom: 1em;
  }

  &__accent {
    font-weight: bolder;
  }

  &__view-boards {
    @include button($primary-color);
  }
}
