@import '../../../common';

.board-entry {
  &__wrapper {
    text-decoration: none;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  border: 1px solid $border-color;
  border-radius: 10px;

  font-family: $default-font;

  @include transition(border-color, 0.3s, ease-in-out);

  &:hover {
    border-color: $border-color-dark;
  }

  &__info {
    flex-grow: 4;
  }

  &__title {
    font-weight: normal;
    color: $primary-color;
  }

  &__description {
    margin-top: 1em;

    font-size: 1.2em;
    font-weight: lighter;
    color: $secondary-color;
  }

  &__controls {
    max-width: max-content;
  }

  &__edit {
    @include button($yellow);
    width: 100%;
  }

  &__delete {
    @include button($red);
    width: 100%;
    margin-top: 1em;
  }
}