@import '../../../common';

.board-entry {
  text-decoration: none;

  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
    align-items: flex-start;

    border: 1px solid $border-color;
    border-radius: 10px;

    font-family: $default-font;

    @include transition(border-color, 0.3s, ease-in-out);

    &:hover {
      border-color: $border-color-dark;
    }
  }

  &__title {
    grid-column-start: 1;
    margin: 0;
    font-weight: normal;
    color: $primary-color;
  }

  &__description {
    grid-column-start: 1;
    margin: 0;

    font-size: 1.2em;
    font-weight: lighter;
    color: $secondary-color;
  }

  &__edit {
    @include link-button($yellow);
    grid-column-start: 2;
    grid-row-start: 1;

    padding: 0.5em;

    font-size: 1em;
    color: $yellow;
  }

  &__delete {
    @include link-button($red);
    grid-column-start: 2;
    grid-row-start: 2;

    padding: 0.5em;

    font-size: 1em;
    color: $red;
  }
}