@import '../../../../common';

$type-colors: (
  "feature": $green,
  "task": $blue,
  "bug": $red
);

$priority-colors: (
  "low": $green,
  "medium": $yellow,
  "high": $red
);

.ticket {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  padding: 1em;
  padding-bottom: 0;
  border: 1px solid $border-color;
  border-radius: 10px;

  color: $secondary-color;

  @include transition(border-color, 0.3s, ease-in-out);

  &:hover {
    border-color: $border-color-dark;
  }

  &__wrapper {
    text-decoration: none;
  }

  &__info {
    flex-grow: 1;
  }

  &__title {
    margin-top: 0;
    font-weight: normal;
    color: $primary-color;
  }

  &__field {
    font-weight: bolder;
  }

  &__type {
    @each $color-name, $color-code in $type-colors {
      &_#{$color-name} {
        color: $color-code;
      }
    }
  }

  &__priority {
    @each $color-name, $color-code in $priority-colors {
      &_#{$color-name} {
        color: $color-code;
      }
    }
  }

  &__controls {
    max-width: max-content;
    margin-bottom: 1em;
  }

  &__edit {
    @include button($yellow);
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
  }

  &__delete {
    @include button($red);
    width: 100%;
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 1em;
  }
}
