$default-font: Sans-Serif;

$primary-color: #3b78b1;
$secondary-color: #212121;

$border-color: #E0E0E0;
$border-color-dark: #212121;

$blue: #2993b3;
$green: #578d57;
$yellow: #c7be3e;
$red: #b16262;

@mixin transition($property, $duration, $timing){
  -webkit-transition: $property $duration $timing;
     -moz-transition: $property $duration $timing;
      -ms-transition: $property $duration $timing;
       -o-transition: $property $duration $timing;
          transition: $property $duration $timing;
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
     -moz-transform: $transforms;
      -ms-transform: $transforms;
       -o-transform: $transforms;
          transform: $transforms;
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin link-button($color) {
  padding: 1em;

  border: 1px solid $border-color;
  border-radius: 5px;

  font-family: $default-font;
  text-decoration: none;
  color: $color;

  cursor: pointer;

  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: $border-color-dark;
  }
}