@import '../../../common';

.board {
  border: 1px solid $border-color;
  border-radius: 10px;
  
  font-family: $default-font;

  &:hover {
    box-shadow: 0 0 20px $shadow-color;
    transition: box-shadow 0.1s ease-in-out;
  }

  &__title {
    font-size: 1.5em;
    text-decoration: none;
    color: $primary-color;
  }

  &__description {
    margin-bottom: 0;
    
    font-size: 1.2em;
    font-weight: lighter;
    color: $secondaty-color;
  }
}