@import '../common';

.board-page {
  margin: 2em;

  &__back-link {
    @include button($secondary-color);
    position: absolute;
    left: 2em;
  }

  &__new-ticket-link {
    @include button($green);
    position: absolute;
    left: 9em;
  }
}