@import '../../common';

.board {
  font-family: $default-font;

  &__title {
    font-weight: normal;
    text-align: center;
    color: $secondary-color;
  }

  &__controls {
    @include centeredFlexContainer;
  }

  &__new-column-button {
    @include button($secondary-color);

    margin-right: 1em;
    font-size: 1em;
  }

  &__new-ticket-button {
    @include button($secondary-color);

    font-size: 1em;
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    margin: 1em;
    margin-top: 0;

    flex: 1 1 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}