@import '../../common';

.edit-ticket {
  &__label {
    display: block;
    margin: 0.5em 0;

    font-weight: lighter;
    font-size: 1.3em;
    color: $primary-color;
  }

  &__input {
    padding: 0.5em;
    border: 1px solid $border-color;
    width: 100%;
    box-sizing: border-box;

    font-size: 1em;
    color: $secondary-color;
  }

  &__submit {
    @include button($green);
    display: block;
    margin: 1em auto 0;
    font-size: 1em;
  }
}